/* basic of flexbox */
/* .flex-container{
    display: flex;
    background-color: aqua;
}
.flex-container>div{
    background-color: aliceblue;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} */

/* flex container */
/* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }  */

  /* flex wrap */
  /* .flex-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: DodgerBlue;
  }
.flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  }  */
  /* .flex-container {
    display: flex;
    flex-flow: row wrap;
    jus
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1; 
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */

  /* perfect center */
  /* .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background-color: DodgerBlue;
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    color: white;
    width: 100px;
    height: 100px;
  } */

  /* Flex items */
  /* .flex-container {
    display: flex;
    align-items: stretch;
    background-color: #f1f1f1;
  }
  
  .flex-container>div {
    background-color: DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
  } */


/* responsive flex-box*/
* {
  box-sizing: border-box;
  background-color: aqua;
}

.flex-container {
  display: flex;
  flex-direction: row;
  font-size: 30px;
  text-align: center;
}

.flex-item-left {
  background-color: #f1f1f1;
  padding: 10px;
  flex: 40%;
}

.flex-item-right {
  background-color: dodgerblue;
  padding: 10px;
  flex: 50%;
}
.flex-item-center {
  background-color: rgb(72, 76, 80);
  padding: 10px;
  flex: 50%;
}

/* Responsive layout - makes a one column-layout instead of two-column layout */
@media (max-width: 800px) {
  .flex-container {
    flex-direction: column;
  }
}